.u-border-bottom {
  border-bottom: 1px solid $divider-color;
  &:last-child {
    border-bottom: 0;
  }
}
.u-noBorder-bottom {
  border-bottom: 0;
}
.u-noPadding-top {
  padding-top: 0;
}
.u-break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.u-truncate {
  @include truncate;
}
