.ButtonLink {
  @include flex(center, row, flex-start);
  color: $primary;
  img {
    margin-bottom: 0;
    max-width: 3rem;
  }
  .ButtonLink--header {
    margin-left: $global-margin-small;
  }
  .ButtonLink--text {
    font-size: $global-font-size-small;
    font-weight: $global-weight-normal;
    margin-left: $global-margin-tiny;
  }
  .ButtonLink--textRight {
    font-weight: $global-weight-normal;
    margin-right: $global-margin-tiny;
  }
}
.rev-ButtonGroup {
  .rev-Button {
    &:first-child {
      margin-right: $global-margin-small;
    }
  }
}
