.rev-Drawer-expander {
  background: transparent;
  color: $primary;
  display: block;
  opacity: 1;
  a {
    padding: 0;
  }
  .material-icons {
    line-height: 2;
  }
}
.rev-Drawer {
  &.rev-Drawer--right {
    left: auto;
    right: 0;
    &.rev-Drawer--open {
      .rev-Drawer-closer {
        @include breakpoint(small-only) {
          color: $white;
          right: 0;
          top: 1%;
        }
      }
    }
  }
  .rev-TopBar-item {
    a {
      color: $white;
      &:hover,
      &:active {
        color: $white;
      }
    }
    .rev-Menu {
      background: $brand-dark;
      height: 100vh;
      justify-content: flex-start;
      padding-top: $global-padding-large;
    }
    .rev-Menu-item {
      border-bottom: 1px solid $brand-medium;
      padding: $global-padding-tiny 0;
    }
  }
}
