.Footer {
  background: $darker-gray;
  color: $white;
  padding: $global-padding 0;
}
.Footer-logo {
  height: $size-default;
  opacity: 0.65;
  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }
}
.Footer-copy {
  color: $light-gray;
  font-size: $global-font-size-small;
  margin: 0;
  padding: 0;
}

