.InputStack-pledge {
  padding-top: $global-padding;
}
.InputLabel-pledge {
  padding-top: $global-padding-small;
}

.incentivize-Button-pledge {
  margin-top: 2.1em;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
