$icon-alignment-margin: 2.1em;

form {
  width: 100%;
}
.LabelText {
  display: block;
  font-weight: $font-weight-semibold;
  padding-bottom: $global-padding-tiny;
}
.InputContent {
  background: $lightest-gray;
  border-radius: $global-radius;
  color: $body-font-color;
  display: block;
  opacity: 1;
  padding: $global-padding-small;
}

.InputStack-pledge {
  padding-top: $global-padding;
}
.InputLabel-pledge {
  padding-top: $global-padding-small;
}

.Icon-cancel {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  margin-top: $icon-alignment-margin;
  outline: none;
  overflow: hidden;
}

// Remove the first close button on the pledges for a fund
.FundContainer {
  > div:first-child {
    .ButtonLink {
      display: none;
    }
  }
}

.ErrorText {
  color: $error;
}
.FormButtons {
  @include flex(center, row, space-between, nowrap);
}