.HeaderWrapper {
  background-color: $brand;
  background-image: linear-gradient($brand, $brand-secondary);
  height: 84rem;
  overflow: hidden;
  padding-top: $topbar-height;
  position: relative;
  @include breakpoint(medium) {
    @include flex(start, row, center);
    height: 85vh;
  }
  @include breakpoint(large) {
    align-items: center;
    padding-top: 0;
  }
  h1 {
    color: $header-color;
    text-transform: uppercase;
  }
  h2 {
    color: $header-color;
  }
  h3 {
    color: $white;
    font-weight: $global-weight-normal;
    line-height: $global-lineheight;
    margin-top: 0;
  }
  .lead {
    color: $white;
  }
  &.small {
    height: auto;
    padding: $global-padding-small;
    @include breakpoint(medium) {
      padding: $global-padding-large + $global-padding;
    }
  }
  .rev-Button {
    margin-top: $global-margin;
  }
}
.HeaderImage {
  bottom: -65%;
  padding-top: $global-padding-large;
  position: absolute;
  right: 0;
  width: 100%;
  @include breakpoint(medium) {
    bottom: 0;
    padding-top: 0;
    width: 48%;
  }
  img {
    height: 100%;
    max-width: 1000%;
    object-fit: cover;
    width: 100%;
  }
}
